body{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1; /*ヘッダーを最前列（一番上）に移動*/
}

h1{
    display: flex;
    font-size: 40px;
    padding: 20px 8px 0 30px;
    font-weight: bold;
}

.title-menu h2{
    font-size: 25px;
    padding: 34px 0 0 0;
}

.title-menu{
    display: flex;
}

.title{
    background-color: rgb(4, 4, 112);
    color: white;
    height: 80px;
    display: flex;
}

.title1{
    width: 65%;
}

.title2{
    width: 35%;
}

.media-icon{
    display: flex;
    justify-content: flex-end;
    margin: 20px 30px 0 0;
}

.ellipse{
    background-color:aqua;
    width: 200px;
    height: 50px;
    border-radius: 50%;
  }

  .ellipse p{
    font-size: 17px;
    padding: 14px 17px;
    color: black;
    font-weight: bold;
  }

 

.twitter-icon{
    padding: 0 20px 0 20px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav {
    background-color: rgb(32, 16, 177);
    height: 40px;
}

nav ul li{
    margin: 7px 0 5px 0;
    padding: 2px 30px 1px 30px;
    font-size: 16px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

a{
    text-decoration: none;
    color: white;    
}

/* ここからメイン */
.training {
    width: 60%;
    margin: 0 auto;
    color:  darkblue;
    text-align: center;
    padding-top: 150px;
    /* height: 1800px; */
}

.training h2{
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 40px;
    display: inline-block;
    border-bottom: solid 3px darkblue;
}

.training h6{
    font-size: 20px;
    padding: 10px 0;
}

.training p{
    padding-top: 10px;
    margin-bottom: 20px;
}

.schedule-sc{
    margin: 0 auto;
    margin-bottom: 40px;
}

.photos h2{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
    display: inline-block;
    border-bottom: solid 1px white;

}

.photos{
    height: 600px;
    background-color: rgb(75, 106, 209);
    text-align: center;
}

.photos-item{
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.photos img{
    display: block;  
    /*imgはインライン要素だから*/
    margin: 15px auto;
    width: 85%;
    border: solid 2px white;
}

.item{
    width: 33%;
}

footer p{
    color: white;
    background-color: rgb(4, 4, 112);
    font-size: 15px;
    text-align: center;
    padding-top: 32px;
    height: 60px;
}
