body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    position: fixed;
    z-index: 1; /*ヘッダーを最前列（一番上）に移動*/
}

h1{
    display: flex;
    font-size: 40px;
    padding: 20px 8px 0 30px;
    font-weight: bold;
}

.title-menu h2{
    font-size: 25px;
    padding: 34px 0 0 0;
}

.title-menu{
    display: flex;
}

.title{
    background-color: rgb(4, 4, 112);
    color: white;
    height: 80px;
    display: flex;
}

.title1{
    width: 65%;
}

.title2{
    width: 35%;
}

.media-icon{
    display: flex;
    justify-content: flex-end;
    margin: 20px 30px 0 0;
}

.ellipse{
    background-color:aqua;
    width: 200px;
    height: 50px;
    border-radius: 50%;
  }

  .ellipse p{
    font-size: 17px;
    padding: 14px 17px;
    color: black;
    font-weight: bold;
  }

 

.twitter-icon{
    padding: 0 20px 0 20px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav {
    background-color: rgb(32, 16, 177);
    height: 40px;
}

nav ul li{
    margin: 7px 0 5px 0;
    padding: 2px 30px 1px 30px;
    font-size: 16px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

a{
    text-decoration: none;
    color: white;    
}

/*ここからメイン*/
.top-img{
    padding-top: 120px;
    width: 100%;
}

.about-us {
    width: 60%;
    margin: 0 auto;
    color:  darkblue;
    text-align: center;
}

.about-us img{
    width: 70%;
    margin: 30px 0;
}

.about-us h3{/*今回はdetailsも適用*/
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
}

.about-us p{
    margin-bottom: 60px;
}


.details{
    background-color: rgb(75, 106, 209);
    height: 1800px;
    color: white;
}

.details li{
    padding-left: 70px;
    padding-top: 20px;
    font-size: 30px;
}

.details p{
    position: absolute;
    top: 70px;
    left: 150px;   
}

.content{
    margin-bottom: 40px;
    position: relative;
}



.media{
    width: 60%;
    margin: 0 auto;
    padding-top: 75px;
    display: flex;

}

.insta{
    display: block;  
    /*imgはインライン要素だから*/
    margin: 0 auto;
}

.twitter{
    display: block;  
    /*imgはインライン要素だから*/
    margin: 0 auto;
}


.member{
    margin-bottom: 80px;
    position: relative;
}

.members{
    display: flex;
}

.members p1{
    padding-top: 30px;
}

.schedule{
    margin-bottom: 70px;
    position: relative;
}

.fee{
    margin-bottom: 35px;
    position: relative;
}

.map{
    margin-bottom: 25px;
    position: relative;
}

.map-info{
    padding-top: 50px;
    text-align: center;
}

.map-info h3{
    font-size: 30px;
    padding-bottom: 10px;
}

.map-image{
    width: 50%;
}

footer p{
    color: white;
    background-color: rgb(4, 4, 112);
    font-size: 15px;
    text-align: center;
    padding-top: 32px;
    height: 60px;
}


